makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
*.o
Docs/makefile
depcomp
makefile
Source/config.h
Source/config.h.in
Source/robodoc
Source/robohdrs
*.bz2
*.gz
*.zip
*.exe

